In [2]:
class Employee(): # creating the class
     pass

In [3]:
emp1=Employee()  #crating an instance of a class
emp2=Employee()

In [4]:
print(emp1)
print(emp2)

<__main__.Employee object at 0x0000009C4FAC1610>
<__main__.Employee object at 0x0000009C4FAC2450>

In [5]:
#instance variables
emp1.first='Shraddha'
emp1.last='Ugale'
emp1.salary=51000

emp2.first='pooja'
emp2.last='patil'
emp2.salary=52000

In [6]:
print(emp1.first)

Shraddha

In [9]:
print(emp1.salary)

51000

In [32]:
class Employee():
    def __init__(self,first,last,salary):
        self.first=first
        self.last=last
        self.salary=salary
        
    def show(self):
        print(self.first +' ' + 'ok')

In [33]:
emp1=Employee('raj','sharma',48000)

In [34]:
print(emp1.first)

raj

In [35]:
emp2=Employee('Ajay','patil',48000)

In [36]:
print(emp1.first)

raj

In [38]:
emp1.show()

raj ok

In [51]:
class Employee():
    def __init__(self,first,last,salary):
        self.first=first
        self.last=last
        self.__salary=salary
        
    def show(self):
        print(self.first +' ' + 'ok')

In [52]:
emp1=Employee('raj','sharma',48000)
emp2=Employee('Ajay','patil',48000)

In [48]:
print(emp1.first)

raj

In [53]:
class Employee():
    def __init__(self,first,last,salary):
        self.first=first
        self.last=last
        self.__salary=salary
        
    def show(self):
        print(self.__salary)

In [54]:
emp1=Employee('raj','sharma',48000)
emp2=Employee('Ajay','patil',48000)

In [55]:
emp1.show()

48000

In [56]:
#Inheritance

class Emp2(Employee):
     pass

In [58]:
emp3=Emp2('Neha','kulkarni',55000)

In [59]:
emp3.show()

55000

In [81]:
'''
create a class called person attributes=>
name,age,city,....(make use of default parameters also)
crate a method which will show all of the info if person
'''


class person():
    def __init__(self,name,age,city):
        self.name=name
        self.age=age
        self.city=city
        
    def dis(self):
        print(self.age)

In [83]:
p1=person('raj',23,'Nashik')
p2=person('Ajay',18,'Pune')

In [84]:
p1.dis()

23

In [87]:
'''
create a class called person attributes=>
name,age,city,....(make use of default parameters also)
crate a method which will show all of the info if person
'''


class person():
    def __init__(self,n,a=25):
        self.name=n
        self.age=a
    
        
    def di(self):
        print(self.name)
        print(self.age)

In [89]:
p1=person('raj',age)
p2=person('Ajay',a)

NameError: name 'age' is not defined

In [86]:
p1.dis()

23

In [95]:
import tkinter as tk

In [124]:
top=tk.Tk()
top.title('My Application')
top.geometry('500x400')
b1=tk.Button(top,text='Click me !!!',bg='blue').grid(column=0,row=1)
e1=tk.Entry(top).grid(column=1,row=2)
t1=tk.Text(top).grid(column=2,row=2)
l1=tk.Lable(top,text='Welcome',font =('Ariel Bold',50)).grid(column=2,row=3)
top.mainloop()

AttributeError: module 'tkinter' has no attribute 'Lable'